.circle  {
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: solid 0.2em;
    padding: 0;
    color: #000000;
    z-index: 1;

    /*.inner-circle{
        width: $inner-circle;
        height: $inner-circle;
        padding: 0;
        position: absolute;
        background-color: #000000;
        border-radius: 50%;
        top: ($box-container / 2) - ($inner-circle / 2) - 0.2em;
        left: ($box-container / 2) - ($inner-circle / 2) - 0.2em;
        animation: rotate 4s linear infinite;
    }*/
}

/*.rotate__90 {
    transform: rotate3d(1, 1, 1, 90deg);
}

.rotate__180 {
    transform: rotate3d(1, 1, 1, 180deg);
}

.rotate__250 {
    transform: rotate3d(1, 1, 1, 250deg);
}*/