@import '../../../src/pureCssItem/orbitSphere/orbitSphere.scss';

$circle-diameter: 500px;
$sphere-diameter: 50px;
$animation-frame-tranlsate: $circle-diameter / 2 ;

.orbiting-container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}
.orbit-sphere-scene {
    position: absolute;
    margin: 50px 10px;
    width: $circle-diameter;
    height: $circle-diameter;
    padding: 0;
    margin-left: 0;
}

.orbiting-sphere {
    position: absolute;
    margin-left: ($circle-diameter / 2) - ($sphere-diameter / 2);
    margin-top: ($circle-diameter / 2) - ($sphere-diameter / 2);
    width: $sphere-diameter;
    height: $sphere-diameter;
    padding: 0;
    z-index: 2;
}

.animating-orbit {
    animation: orbit 4s linear infinite;
}

.no-padding {
    padding: 0;
}

.atom-rotate__90 {
    transform: rotate3d(1, 1, 1, 90deg);
}

.atom-rotate__180 {
    transform: rotate3d(1, 1, 1, 180deg);
}


@keyframes orbit {
     from { transform: rotate(0deg) translateX($animation-frame-tranlsate) rotate(0deg); }
     to   { transform: rotate(360deg) translateX($animation-frame-tranlsate) rotate(360deg); }
}
