$bg-color: #8effc1;
$fg-color: darken(#1ebc61, 5%);

.container {
    width: 100%;
    min-height: 200px;
    text-align: center;
    background: $bg-color;
    color: $fg-color;
}

button {
    font-family: Roboto, sans-serif; 
    display: inline-block;
    margin: 0.3em;
    padding: 0.35em 1.2em;
    border: 0.1em ;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 0.2em;
    font-weight: 300;
    font-size: 50px;
    transition: all 0.1s;
    text-align: center;
    background-color: $fg-color;
    color: #ffffff;

    &:hover{
        cursor: pointer;
        background-color: white;
        color: $fg-color;
        box-shadow: 0px 15px 20px  $fg-color;
    }
}