html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
};

div {
  padding-left: 5%;
  padding-right: 5%;
}

h1{
  text-align: center;
}

.centered {
  text-align: center;
}

.wow {
 font-size: 30px;
}

.light {
  color: #484848;
}

.dark {
  color: #000000;
}

.primary {
  color: #212121
}

.bkg-light {
  background-color: #484848;
  color: #ffffff;
}

.bkg-dark {
  background-color: #000000;
  color: #ffffff;
}

.bkg-primary {
  background-color: #212121;
  color: #ffffff;
}

.icon {
  font-size: 20vh;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;

}


